<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author", content="Favour">
    <meta name="descrption",content="Personal website by favour">
    <title>Persoanle webpage </title>
    <link rel="icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <h1>This is my persona webpage from strach</h1>
   <h2><li> login,register ,,ai application </li></h2>
   <h2><li>Header ,footer and the main section implemtatio of AI </li></h2>
   
</body>
</html>